@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/* 전체 레이아웃 */
body {
  font-size: 20px;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  overflow-y: scroll;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
  display: block;
}
ul {
  list-style: none;
}

#wrap {
  width: 100%;
}
#header {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 1000;
  background: #ff6b6b;
  opacity: 0.85;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 36px;
}
.cf:after {
  content: "";
  display: block;
  clear: both;
}

/* 상단 메뉴*/
#menuWrap {
  width: 1200px;
  margin: 0 auto;
}
#menuWrap h2 {
  display: none;
}
#menuWrap .logo {
  width: 150px;
  height: 70px;
  float: left;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  height: 100px; /* 원하는 높이 */
  overflow: hidden;
}
#menuWrap .logo img {
  filter: invert(100%);
  height: 140%; /* 부모 높이에 맞춤 */
  width: auto;
  transform: translateY(-15px);
}
#menuWrap li {
  float: left;
  margin-left: 20px;
}
#menu {
  float: left;
}
#menu li a {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  color: #333;
  opacity: 1;
}
#menu li a:hover {
  color: #fff;
}
#menu .on a {
  color: #fff;
}

/* main */
#main {
  width: 100%;
  height: 950px;
  margin: 0 auto;
  background: white;
  overflow: hidden;
}
#main .inner div {
  float: left;
}
#main .inner {
  width: 1400px;
  margin: 0 auto;
}
#main .inner > div {
  width: 1600px;
  height: 950px;
  position: relative;
}
#main .typing_txt {
  display: none;
}
#main .typing {
  display: inline-block;
  animation-name: cursor;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 44px;
  white-space: pre;
  line-height: 200%;
  color: #333;
}
#main .typing:after {
  content: "|";
  animation: blink 0.5s infinite;
  font-size: 50px;
}
@keyframes blink {
  to {
    opacity: 0;
  }
}
#main .p_photo {
  position: absolute;
  top: 100px;
  right: 20px;
}
#main .p_photo img {
  width: 80%;
}
div > h2 {
  margin-bottom: 30px;
}
/* profile */
#profile {
  width: 1200px;
  margin: 100px auto 0;
  padding: 40px;
  box-sizing: border-box;
  border: 5px solid #fcd5ce;
  opacity: 0;
}
#profile > div > img {
  width: 300px;
  height: 400px;
  float: left;
  background: #bfdfff;
}
#profile .profileWrap {
  margin: 40px 0 0;
  font-size: 16px;
  display: flex;
  justify-content: center;
}
#profile .profileWrap div {
  margin-left: 47px;
  float: left;
}
#profile .profileWrap .info {
  margin-top: 50px;
}
#profile .profileWrap div li {
  line-height: 200%;
}
#profile .profileWrap div strong {
  font-size: 20px;
}
#profile .profileWrap .profile01 {
  margin-left: 0;
}
#profile .profileWrap .profile04 {
  clear: both;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  margin-left: 0;
}
#profile .profileWrap .profile04 ul {
  width: 600px;
  margin: 20px auto;
}
#profile .profileWrap .profile04 li {
  width: 80px;
  height: 135px;
  margin: 0 10px;
  float: left;
}
#profile .profileWrap .profile04 img {
  width: 70px;
  height: auto;
  background: #fff;
  display: block;
}
#profile .profileWrap .profile04 li:nth-child(4) img {
  margin-top: 20px;
  width: 83px;
}
#profile .profileWrap .profile04 li:nth-child(5) img {
  margin-top: 40px;
  width: 83px;
}

#profile .profileWrap .profile04 li:nth-child(6) img {
  margin-top: 25px;
}

/* web */
#web {
  width: 1200px;
  height: 100%;
  margin: 100px auto 0;
  padding: 0 40px;
}
/* 탭 메뉴 */
#web .tab {
  width: 100%;
  height: 42px;
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
}
#web .tab li {
  width: 300px;
  height: 40px;
  float: left;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  background: #ffeeb9;
  color: #ffffff;
  font-size: 16px;
  border: 1px solid #ffdc73;
}
#web .tab li.active {
  background: #ffffff;
  position: relative;
  z-index: 5;
}
#web .tab li:last-child {
  margin-right: 0;
}
#web .tab li a {
  color: #666;
  font-size: 18px;
}
/* tab content */
#web .tab_con {
  height: 100%;
  position: relative;
}
#web .tab_con > div > a {
  display: inline-block;
}
#web .tab_con > div {
  width: 1200px;
  text-align: center;
}
#web .tab_con > div > div {
  margin: 30px 0 0;
}
#web .tab_con .layout {
  width: 600px;
  height: 900px;
  margin: 0 auto;
}
#web .tab_con h2 {
  margin: 50px 0 0;
}
#web .tab_con h3 {
  font-size: 20px;
  margin: 20px 0;
}
#web .tab_con p {
  margin: 50px 0 0;
  font-size: 20px;
  line-height: 200%;
}
#web .tab1_con {
  width: 1200px;
}
#web .site {
  width: 200px;
  margin: 20px auto;
  border: 1px solid #ffeeb9;
  padding: 7px 0;
  background: #ffeeb9;
  font-size: 20px;
}
#web .site:hover {
  background: #fff;
}
#web .tab1_con img {
  width: 1000px;
  margin-top: 30px;
}
#web .tab2_con .slide_wrap {
  position: relative;
  margin-top: 50px;
}
#web .tab2_con .layout .slide_banner {
  width: 400px;
  margin: 0 auto;
}
#web .tab2_con .layout ul {
  width: 400px;
  height: 740px;
  position: relative;
}
#web .tab2_con .layout li {
  width: 400px;
  height: 740px;
  opacity: 0;
  position: absolute;
}
#web .tab2_con .layout li:first-child {
  opacity: 1;
}
#web .tab2_con .layout img {
  width: 100%;
  height: 100%;
}
#web .tab2_con .layout span {
  display: block;
}

#contact {
  background: #ff6b6b;
}
#contact .inner {
  width: 1200px;
  text-align: center;
  margin: 100px auto 0;
  font-size: 20px;
  line-height: 200%;
  padding: 50px 0;
}

/* slide_arrow_button */
.prev {
  float: left;
  top: 280px;
  left: -20px;
  z-index: 10;
  position: absolute;
}
.next {
  float: left;
  top: 280px;
  right: -20px;
  z-index: 10;
  position: absolute;
}

/* adaptive01 */
#webImage {
  width: 1200px;
  height: 900px;
  position: relative;
}
#webImage > * {
  position: absolute;
}

/* 2d graphic */
#webImage > img {
  left: 3.5%;
  top: 15%;
}
#webImage .graphicImgBox {
  left: 50%;
  margin-left: -600px;
  width: 1200px;
  height: 700px;
}
#webImage #graphicImage {
  width: 1200px;
  height: 750px;
}
#webImage #graphicImage p {
  display: none;
}
#webImage #graphicImage p:first-child {
  display: block;
}
/* #webImage #graphicImage p img{width:90%; height:auto; border:0;}
 */
#webImage #graphicBox {
  position: relative;
  width: 770px;
  height: 96px;
  margin-top: 10px;
  margin: 0 auto;
}
#webImage #graphicBox .left {
  position: absolute;
  left: 0;
  top: 0;
  width: 35px;
  height: 40px;
  padding-top: 25px;
  text-align: left;
  cursor: pointer;
}
#webImage #graphicBox .right {
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 40px;
  padding-top: 25px;
  text-align: right;
  cursor: pointer;
}
#webImage #graphicBox .graphicImg {
  overflow: hidden;
  position: relative;
  left: 35px;
  width: 820px;
  height: 96px;
}
#webImage #graphicBox .graphicImg ul {
  position: absolute;
  width: 1530px;
}
#webImage #graphicBox .graphicImg .thumb {
  float: left;
  width: 120px;
  height: 90px;
  margin-left: 10px;
  list-style: none;
  cursor: pointer;
  overflow: hidden;
  border: 3px solid #aaa;
}
#webImage #graphicBox .graphicImg .thumb img {
  width: 100%;
}
#webImage #graphicBox .graphicImg .thumb:first-child {
  display: block;
}
#webImage #graphicBox .graphicImg .first {
  margin-left: 0px;
}

/* graphic */
#graphic {
  width: 620px;
  margin: 100px auto 50px;
}
.sns_img {
  margin: 30px 0;
}
.sns_img li {
  width: 190px;
  height: 190px;
  margin: 10px 0 0 10px;
  overflow: hidden;
  float: left;
  border: 1px solid #aaa;
}
.sns_img img {
  width: 190px;
  height: 190px;
  transition: all ease 0.8s;
}
.sns_img li:nth-child(3) img,
.sns_img li:nth-child(4) img {
  width: 190px;
  height: 500px;
}
.sns_img img:hover {
  transform: scale(1.2);
}

/* 퀵메뉴 스타일 정의 */
#floatdiv {
  position: absolute;
  left: 0;
  top: 250px;
  margin-left: 10px;
}
#floatdiv ul {
  list-style: none;
  border: 0;
  margin: 0;
  padding: 0;
}
#floatdiv li {
  list-style: none;
  border: 0;
  margin: 0;
  padding: 0;
}
#floatdiv li span {
  margin: 0 0 5px 0;
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  background: #aaa;
  border-radius: 50%;
}
#floatdiv li:hover span {
  background: #333;
}
#floatdiv li.active span {
  background: #333;
}

footer {
  width: 100%;
  height: 100px;
  background: #333;
}
footer address {
  padding-top: 30px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  line-height: 1.6;
  text-align: center;
}
